* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #e0f7fa, #e3f2fd);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    padding: 35px;
    width: 90%;
    max-width: 420px;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: #3f51b5;
    margin-bottom: 10px;
}

p {
    color: #666;
    margin-bottom: 25px;
    font-size: 14px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    outline: none;
    transition: 0.3s;
    font-size: 15px;
}

input:focus,
select:focus {
    border-color: #3f51b5;
    box-shadow: 0 0 8px rgba(63, 81, 181, 0.3);
}

button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

button:hover {
    background-color: #2c3eaa;
    box-shadow: 0 8px 15px rgba(63, 81, 181, 0.3);
}

.result-box {
    background: #f9f9f9;
    border-radius: 12px;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
    border-left: 5px solid #3f51b5;
}

.icon {
    font-size: 50px;
    margin-top: 10px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }
}
.city{
    color: white;
}

.advice {
    margin-top: 10px;
    font-size: 15px;
    color: #555;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}
.text-light{
    color: white;
    font-size: 17px;
}